.preview-container___root {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.preview-container___versus-block {
  display: flex;
  flex-direction: column;
  margin: 0 50px;
  align-items: center;
  justify-content: center;
}

.preview-container___versus-img {
  width: 130px;
}

.preview-container___fight-btn {
  padding: 8px 35px;
  justify-self: right;
  text-align: center;
  background: #ba0303;
  margin: 40px 0;
  color: #f8f9f4;
  font-size: 22px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.75);
}

.preview-container___fight-btn.disabled {
  opacity: 0;
}
.preview-states{
  display: flex;
  position: absolute;
  top:60%;
  justify-content: flex-start;
  flex-direction: column;
  width:250px;
  height: 140px;
  background-color:rgba(4, 0, 4, 0.5) ;
  background-repeat:no-repeat;
}
.preview-states___name{
  display: flex;
  width: 100%;
  height: 37px;
  margin-left: 5%;
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  font-size: 26px;
  font-family: 'Arial Black';
  font-weight: 700;
}
.preview-states___container{
  display: flex;
  width: 100%;
  height: 87px;
  flex-direction: row;
}
.preview-states___container_numbers{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width:20px;
  height: 87px;
  margin-left: 5%;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  font-size: 20px;
  font-family: 'Arial Black';
  font-weight: 700;
}
.preview-states___container_images{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 197px;
  margin-left: 5%;
}

.preview-states-attack___number{
  display: block;

}
.preview-states-health___number{
  display: block;

}

.preview-states___health{
  display: block;
  width: 100%;
  height: 29px;
  background-image:url('../health-blank.png');
  background-repeat: no-repeat;
}
.preview-states___attack{
  display: block;
  width: 100%;
  height: 29px;
  background-image:url('../attack-blank.png');
  background-repeat: no-repeat;
}
.preview-states___defense{
  display: block;
  width: 100%;
  height: 29px;
  background-image:url('../defense-blank.png');
  background-repeat: no-repeat;
}
